h1 {
    color: #f60
}

p {
    margin-bottom: 0px;
}

.oferta {
    margin-top: 25px
}

.oferta img {
    width: 372px;
    height: 240px;
}

.promo {
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

.thumbnails {
    margin-top: 10px;
}

.thumbnails img {
    width: 124px;
    height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
}